
* {
    margin: 0;
    font-family: calibri;
}


body {
    background-color: rgb(44, 44, 44);
}
.containerForGame {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timer{
    font-size: 200px;
    color: white;
}

.gameField{
    background-color: rgb(143, 143, 143);
    width: 63vh;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.cardItem{
    width: 9vh;
    height: 10vh;
    background: #000;
    margin-left: 1vh;
    margin-top: 1vh;
}

.cardText{
    font-size: 10vh;
    display: flex;
    justify-content: center;
}

.btnStart {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20%;
    width: 8vh;
    height: 4vh;
    font-size: small;
    margin-bottom: 1vh;
}

.btnRestart{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20%;
    width: 12vh;
    height: 4vh;
    font-size:small;
    margin-bottom: 1vh;
}

.p{
    font-size: 100px;
    color: white;
    font-family: calibri;
}