* {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeueCyr, sans-serif;
}
.header {
  width: auto;
  height: 150px;
  width: 90%;
  margin-bottom: 10px;
}
.img {
  padding-top: 16px;
  position: absolute;
  left: 46%;
}
.covButtons {
  margin-left: auto;
  display: flex;
  height: 30px;
  width: 200px;
  transform: translateY(45px);
  justify-content: flex-end;
  gap: 12px;
}
.cart {
  display: flex;
}
.icon {
  display: flex;
}
.liked {
  display: flex;
}
.welcome {
  margin-top: 70px;
  justify-content: center;
  margin-left: 44%;
}
.manWomen {
  justify-content: center;
  height: 364px;
  margin-top: 100px;
  gap: 8px;
  display: flex;
}
.man {
  display: inline-block;
  position: relative;
  width: 700px;
  height: 360px;
}
.woman {
  width: 700px;
  height: 360px;
}
.manImg {
  position: absolute;
  display: flex;
  height: 364px;
  width: 700px;
}
.womanImg {
  position: absolute;
  display: flex;
  height: 364px;
  width: 700px;
}
p {
  position: absolute;
  display: flex;
  justify-content: center;
}
.shops {
  margin-top: 20px;
  margin-left: 21.8%;
  width: 1404px;
  height: 500px;
  display: flex;
}
.textInformation {
  margin-top: 40px;
  display: flex;
  text-align: center;
  font-size: 8px;
  justify-content: center;
}
.shop {
  display: flex;
  width: 1404px;
  height: 500px;
  justify-content: center;
}
.advantages {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.firstAdv {
  width: 310px;
  height: 50px;
  display: flex;
  border: 1px solid;
  border-color: black;
  flex-direction: column;
  align-items: center;
}
.secondAdv {
  width: 310px;
  height: 50px;
  display: flex;
  border: 1px solid;
  border-color: black;
  flex-direction: column;
  align-items: center;
}
.thirdAdv {
  width: 310px;
  height: 50px;
  display: flex;
  border: 1px solid;
  border-color: black;
  flex-direction: column;
  align-items: center;
}
.imgadv {
  width: 25px;
  height: 25px;
  fill: none;
}

.cards {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.hat {
  width: 311px;
  height: 436px;
}
.boots {
  width: 311px;
  height: 436px;
}
.jacket {
  width: 311px;
  height: 436px;
}
.coat {
  width: 311px;
  height: 436px;
}
.modal-auth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
}
.modal-dialog-auth {
  width: auto;
  position: relative;
}
.modal-dialog {
  max-width: 780px;
  width: 95%;
  background: #ffffff;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.label-auth {
  display: block;
  margin: 30px;
}
.label-auth span {
  width: 80px;
  display: inline-block;
}
.exit {
  display: flex;
}
.close-auth {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 97%;
}
